aiofiles
aiogram
aiohttp
aiosignal
alembic
async-timeout
attrs
certifi
charset-normalizer
frozenlist
greenlet
idna
magic-filter
Mako
MarkupSafe
multidict
psycopg
psycopg-binary
psycopg-pool
pydantic
python-dotenv
SQLAlchemy
typing_extensions
yarl
pydantic-settings

